name: Run Docker
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the container
      run: docker build -f test/Dockerfile . -t sitespeedio/throttle
    - name: Test Throttle
      run: docker run --cap-add=NET_ADMIN sitespeedio/throttle