name: Linux
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install throttle
      run: npm ci
    - name: Install dependencies
      run: sudo apt-get install -y net-tools
    - name: Verify lint
      run: npm run lint
    - name: Show interfaces
      run: sudo route
    - name: Test cable 
      run: bin/index.js cable && bin/index.js stop
    - name: Test configuration 
      run: bin/index.js throttle --up 330 --down 780 --rtt 200 && bin/index.js stop
    - name: Test localhost 
      run: bin/index.js --rtt 200 --localhost && bin/index.js stop --localhost
    - name: Test config file
      run: bin/index.js --config test/config.json && bin/index.js stop
    - name: Test packet loss
      run: bin/index.js throttle --up 330 --down 780 --rtt 200 --packetLoss 10 && bin/index.js stop
    - name: Test packet loss and profile
      run: bin/index.js 3g --packetLoss 10 && bin/index.js stop
